*{
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

#container{
    width: 970px;
    margin: auto;
}

#gold{
    display: flex;
    padding: 20px 0 0 20px;
}

#gold .border{
    border: 2px solid darkgreen;
    min-width: 100px;
}

#choices{
    display: flex;
}

.choice{
    margin: 20px;
    border: 2px solid rgb(43, 43, 43);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

#choices div button{
    margin-top: 20px;
}

#activity{
    border: 2px solid midnightblue;
    height: 200px;
    margin-bottom: 10px;
    overflow: scroll;
}

