<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <% for (var x = quote.length-1; x>=0; x--){ %>
        <p><%= quote[x].ah_quote%></p>
        <p>-<%= quote[x].name%> at <%= quote[x].created_at%></p>
        <hr>
    <% } %>
</body>
</html>