<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new owl here</h1>
    <form action="/owl" method='post'>
        Owl name: <input type="text"name="name"><br>
        Height: <input type="number" name="height"> (inches) <br>
        Location: <input type="text" name="location"><br>
        Diet: <input type="text" name="diet"><br>
        <button>Submit</button>
    </form>
</body>
</html>