<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <div id="inputs">
            <div class="input">
                <h3>Add a Dojo</h3>
                <form action="/add_dojo" method='POST'>
                {%csrf_token%} 
                Name <input type="text" name="name">
                <br>
                City <input type="text" name="city">
                <br>
                State <input type="text" name="state">
                <br>                
                Description <input type="text" name="desc">
                <br>
                <a href="/add_dojo"><button>Add</button></a>
                </form>
            </div>  

            <div class="input">
                <h3>Add a Ninja</h3>
                <form action="/add_ninja" method='POST'>
                {%csrf_token%} 
                First Name <input type="text" name="first_name">
                <br>
                Last Name <input type="text" name="last_name">
                <br>
                Dojo <select type="text" name="dojo">
                    {%for dojos in all_dojos%}
                        <option value="{{dojos.name}}">{{dojos.name}}</option>
                    {%endfor%}
                </select>
                <br>
                <a href="/add_ninja"><button>Add</button></a>
                </form>
            </div>  
        </div>

        <div id="list">
            <h3>All the Dojos</h3>
            {%for dojos in all_dojos%}
                <h4>Ninjas at the "{{dojos.name}}" Dojo</h4>
                <ul>
                    {%for ninjas in all_ninjas%}
                        {%if ninjas.dojo.id == dojos.id%}
                        <li>{{ninjas.first_name}} {{ninjas.last_name}}</li>
                        {%endif%}
                    {%endfor%}
                </ul>
            {%endfor%}
        </div>
    </div>
</body>
</html>