<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <h1>Welcome to the Great Number Game!</h1>
        <h3>I am thinking of a number between 1 and 100.</h3>
        <h3>Take guess!</h3>
        {% if request.session.answer == 'correct' %}
            <div id="correct">
                <h2>{{request.session.guess}} was the number!</h2> 
            </div>
            <a href="/reset"><button>Play again!</button></a>
        {% elif request.session.answer == 'high' or request.session.answer == 'low' %}
            <div id="wrong">
                <h2>Too {{request.session.answer}}!</h2> 
            </div>
        {% endif %}
        {% if request.session.answer != 'correct' %}
            <form action="/guess" method="POST">
                {% csrf_token %}
                <input type="text" name="guess">
                <input type="submit">
            </form>
        {% endif %}
        
    </div>
</body>
</html>