<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style_detail.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <h3>{{author.first_name}} {{author.last_name}}</h3>
        <p>ID: {{author.id}}</p>
        <div id="desc">
            <h4>Description: </h4>
            <p>{{author.notes}}</p>
        </div>
        <h4>Books:</h4>
        <ul>
            {%for book in books%}
            <li>{{book.title}}</li>
            {%endfor%}
        </ul>
        <form action="/assign_book/{{author.id}}" method="POST">
            {%csrf_token%}
            Add a book: <select type="text" name="book_id">
            {%for book in all_books%}
            <option value="{{book.id}}">{{book.title}}</option>
            {%endfor%}
            </select>
            <a href="/assign_book/{{author.id}}"><button>Add</button></a>
        </form>
    </div>

</body>
</html>