<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style_detail.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <h3>{{book.title}}</h3>
        <p>ID: {{book.id}}</p>
        <div id="desc">
            <h4>Description: </h4>
            <p>{{book.desc}}</p>
        </div>
        <h4>Authors:</h4>
        <ul>
            {%for author in authors%}
            <li>{{author.first_name}} {{author.last_name}}</li>
            {%endfor%}
        </ul>
        <form action="/assign_author/{{book.id}}" method="POST">
            {%csrf_token%}
            Add an author: <select type="text" name="author_id">
            {%for author in all_authors%}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {%endfor%}
            </select>
            <a href="/assign_author/{{book.id}}"><button>Add</button></a>
        </form>
    </div>

</body>
</html>